
@model List<HomeWork_1.Models.Accounting>
@{var index = 1;}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別1</th>
                <th>日期</th>
                <th>金額</th>
            </tr>

            @{foreach (var m in Model)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>
                            @if (m.Type == 1)
                            {
                                @:收入
                            }
                            else
                            {
                                @:支出
                            }
                        </td>
                        <td>@m.Date.ToString("yyyy-MM-dd")</td>
                        <td>@m.Amount.ToString("###,###")</td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
